<div class="main-body elevation-1">
  <div class="row">
    <div class="col-6">
      <mat-form-field appearance="fill">
        <mat-label>Selecione o tipo do imóvel</mat-label>
        <mat-select disableRipple [(ngModel)]="tipoImovel" (selectionChange)="getTypesSearch($event)">
          <mat-option value="todos">Todos</mat-option>
          <mat-option value="Casa">Casa</mat-option>
          <mat-option value="Apartamento">Apartamento</mat-option>
          <mat-option value="Sala Comercial">Sala comercial</mat-option>
          <mat-option value="Lote">Lote</mat-option>
          <mat-option value="Chacara">Chácara</mat-option>
          <mat-option value="Sitio">Sitio</mat-option>
          <mat-option value="Fazenda">Fazenda</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-2">
      <button mat-raised-button class="btn" (click)="imovelModal()">
        <i class="fa fa-plus"></i>&nbsp;Novo
      </button>
    </div>
    <div class="col-3" *ngIf="totalChecked > 0">
      <button mat-raised-button class="btn btn-remove" (click)="removerSelecionados()">
        <i class="fa fa-trash"></i>&nbsp;Remover Selecionados
      </button>
    </div>
  </div>
  <mat-list [formGroup]="form" *ngIf="imoveis.length > 0">
    <mat-list-item class="box" *ngFor="let imovel of imoveis; let i = index" formArrayName="selecionados">
      <div class="options" mat-colunm>
        <i class="fas fa-edit" (click)="imovelModal(imovel)"></i>
        <br>
        <i class="fas fa-trash-alt" (click)="deletarImovel(imovel)"></i>
      </div>
      <div class="checkbox" mat-colunm>
        <label>
          <input type="checkbox" [formControlName]="i" />
        </label>
      </div>
      <div class="thumb" mat-colunm (click)="showFullImg(imovel)">
        <img src="./../../../assets/default.png">
      </div>
      <div mat-line>
        <p class="title">{{ imovel.tipo.toUpperCase() }}</p>
        <p>R$ {{ imovel.precoSolicitado }}</p>
      </div>
      <div mat-line style="white-space: pre-wrap;">
        <p>{{ imovel.descricao }}</p>
      </div>
    </mat-list-item>
  </mat-list>
  <p class="sem-cadastro" *ngIf="imoveis.length == 0">Não há imóveis cadastrados.</p>
</div>


<!-- component RANK
  <div class="col-4" style="padding-top: 14px;">
  <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
    <mat-label>Buscar</mat-label>
    <input type="text" aria-label="Number" matInput [formControl]="searchTerm" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectionChange($event)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div> -->