<app-navbar-component></app-navbar-component>
<div class="main-selection">
</div>
<div class="body" [formGroup]="form">
  <div class="row" style="padding: 40px 40px 10px;">
    <div class="col-12">
      <p class="title">aaaaaaaaaaaaaaa</p>
      <p class="details">aaaaaaaaaaaa</p>
    </div>
    <div class="col-12">
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" type="text" required />
        <mat-icon matSuffix>person</mat-icon>
        <mat-error>{{ getErrorMessage("nome") }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="text" required />
        <mat-icon matSuffix>mail</mat-icon>
        <mat-error>{{ getErrorMessage("email") }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="senha" type="password" required />
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error>{{ getErrorMessage("senha") }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row" style="justify-content: space-around; padding-bottom: 40px;">
    <div class="col-3">
      <button mat-raised-button color="accent" (click)="login()">Já tenho conta</button>
    </div>
    <div class="col-3">
      <button mat-raised-button color="primary" (click)="register()">Cadastrar</button>
    </div>
  </div>
</div>