:host {
  min-width: 100vw;
  min-height: 100vh;
}

.content-wrapper {
  // min-height: calc(100vh - 114px);
  min-height: calc(100vh - 75px);
  height: 100%;
  background-color: #c3d0d1;
}

.sidenav-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  background-color: #343a40;
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}