<div class="main-body elevation-1">
    <!-- Botão de Cadastro -->
    <div class="row">
        <div class="col-2">
            <button mat-raised-button class="btn" (click)="vendaModal()">
                <i class="fa fa-plus"></i>&nbsp;Novo
            </button>
        </div>
    </div>

    <!-- Tabela de Vendas -->
    <div class="elevation-1 header-color tab">
        <mat-table [dataSource]="vendas">
            <!-- :actions -->
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Opções </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <div class="options" mat-colunm>
                        <i class="fas fa-edit" (click)="vendaModal(row)"></i> <br />
                    </div>
                </mat-cell>
            </ng-container>

            <!-- :codigo da venda -->
            <!-- <ng-container matColumnDef="codVenda">
                <mat-header-cell *matHeaderCellDef> Cod. Venda </mat-header-cell>
                <mat-cell *matCellDef="let venda"> {{venda.codVenda}} </mat-cell>
            </ng-container> -->

            <!-- :codigo do imovel -->
            <ng-container matColumnDef="codigoImovel">
                <mat-header-cell *matHeaderCellDef> Cod. Imovel </mat-header-cell>
                <mat-cell *matCellDef="let venda"> {{venda.codigoImovel}} </mat-cell>
            </ng-container>

            <!-- :valor real -->
            <ng-container matColumnDef="valor">
                <mat-header-cell *matHeaderCellDef> Valor Real </mat-header-cell>
                <mat-cell *matCellDef="let venda"> {{venda.valor | currency: 'BRL': 'R$'}} </mat-cell>
            </ng-container>

            <!-- :nome do comprador -->
            <ng-container matColumnDef="nomeComprador">
                <mat-header-cell *matHeaderCellDef> Nome Comprador </mat-header-cell>
                <mat-cell *matCellDef="let venda"> {{venda.nomeComprador}} </mat-cell>
            </ng-container>

            <!-- :nome do corretor -->
            <ng-container matColumnDef="creciCorretor">
                <mat-header-cell *matHeaderCellDef> CRECI Corretor </mat-header-cell>
                <mat-cell *matCellDef="let venda"> {{venda.creciCorretor}} </mat-cell>
            </ng-container>

            <!-- :data da venda -->
            <ng-container matColumnDef="dataVenda">
                <mat-header-cell *matHeaderCellDef> Data Venda </mat-header-cell>
                <mat-cell *matCellDef="let venda"> {{venda.dataVenda | date:'dd/MM/yyyy'}} </mat-cell>
            </ng-container>

            <!-- Headers & rows declarations-->
            <mat-header-row
                *matHeaderRowDef="['actions', 'codigoImovel', 'valor', 'nomeComprador', 'creciCorretor', 'dataVenda']">
            </mat-header-row>
            <mat-row
                *matRowDef="let row; columns: ['actions', 'codigoImovel', 'valor', 'nomeComprador', 'creciCorretor', 'dataVenda']">
            </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
    </div>
</div>