<h1 mat-dialog-title class="titulo-modal">
  EDITAR CORRETOR
  <i (click)="closeModal()" class="material-icons btn-fechar">close</i>
  <span id="fechar" (click)="closeModal()">FECHAR</span>
</h1>
<div mat-dialog-content class="dialog-body" [formGroup]="form">
  <div class="row" style="padding: 1em 2.3em;">
    <div class="col-6">
      <mat-form-field appearance="outline">
        <mat-label>CRECI</mat-label>
        <input matInput type="text" formControlName="creci" required />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="nome" required />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline">
        <mat-label>Salário</mat-label>
        <input matInput type="number" formControlName="salario" required>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline">
        <mat-label>Data de Admissão</mat-label>
        <input matInput type="text" formControlName="dataAdmissao" required />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline">
        <mat-label>Percentual de Comissão</mat-label>
        <input matInput type="number" formControlName="percentComissao" required />
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions class="footer-modal">
  <div class="row row-buttons">
    <div class="col-4">
      <button mat-raised-button color="accent" (click)="closeModal()">Cancelar</button>
    </div>
    <div class="col-4">
      <button mat-raised-button color="primary"
        (click)="closeModal()"> Cadastrar
      </button>
    </div>
  </div>
</div>