<h1 mat-dialog-title class="titulo-modal">
  {{ data.modalTitle }} CORRETOR
  <i (click)="closeModal()" class="material-icons btn-fechar">close</i>
  <span id="fechar" (click)="closeModal()">FECHAR</span>
</h1>

<div mat-dialog-content class="dialog-body" [formGroup]="form">
  <div class="row" style="padding: 1em 2.3em;">
    <div class="col-6">
      <mat-form-field appearance="fill">
        <mat-label>Selecione o tipo do Corretor</mat-label>
        <mat-select disableRipple formControlName="tipo">
          <mat-option value="Contratado">Contratado</mat-option>
          <mat-option value="Comissionado">Comissionado</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline">
        <mat-label>CRECI</mat-label>
        <input matInput type="text" formControlName="creci" required />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="nome" required />
      </mat-form-field>
    </div>
    <div class="col-6" *ngIf="form.get('tipo').value == 'Contratado'">
      <mat-form-field appearance="outline">
        <mat-label>Salário</mat-label>
        <input matInput type="number" formControlName="salario" required />
      </mat-form-field>
    </div>
    <div class="col-6" *ngIf="form.get('tipo').value == 'Comissionado'">
      <mat-form-field appearance="outline">
        <mat-label>Percentual de Comissão</mat-label>
        <input matInput type="number" formControlName="comissao" required />
      </mat-form-field>
    </div>
    <div class="col-6" *ngIf="form.get('tipo').value == 'Contratado'">
      <mat-form-field appearance="outline">
        <mat-label>Data de Admissão</mat-label>
        <input matInput type="text" formControlName="dataAdmissao" placeholder="dd/mm/yyyy"
          [dropSpecialCharacters]="false" mask="00/00/0000" required />
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions class="footer-modal">
  <div class="row row-buttons">
    <div class="col-4">
      <button mat-raised-button color="accent" (click)="closeModal()">Cancelar</button>
    </div>
    <div class="col-4">
      <button mat-raised-button color="primary" (click)="atualizar()"> {{ data.corretor ? 'Atualizar' : 'Cadastrar' }}
      </button>
    </div>
  </div>
</div>